<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= button_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary' , method: :post do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>

  <% if product.quantity == 0 %>  
  <aside class="sold-out">
    SOLD OUT!
  </aside>
  <% end %>

  <% if @active_sale %>
    <%= @active_sale.percent_off %>
  <% end %>
  
  <aside class="price">
    <%= humanized_money_with_symbol @active_sale ? product.price - (product.price / 100 * @active_sale.percent_off) : product.price %>
  </aside>
</article>
